@import url('./normalize.css');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--main-font-size);
    background: #83c1d2;
}


.main {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding-left: 0;
    margin: 0 0;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    border: 1px solid #41a59d;

    min-width: 380px;
    padding: 24px 30px;

    display: flex;
    flex-direction: column;

    border-radius: 8px;
    background: linear-gradient(205deg, #0e272e, #9be2ed);
    box-shadow: 3px 4px 9px 4px #346064;
}

.form__label {
    margin-bottom: 8px;
}

.form__input_country {
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #879594;
    resize: vertical;
}

.form__select {
    margin-bottom: 20px;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #879594;
}

.gender__item {
    display: flex;
    gap: 5vw;
    justify-content: space-around;
    margin-bottom: 16pz;
}

.gender__item label {
    display: flex;
    align-items: center;
}

.gender__check {
    position: relative;
    width: 20px;
    height: 20px;
    background: #ffffffe0;
    border: 1px solid #d0c2c2;
    border-radius: 50%;
}

.skills__item {
    gap: 8px;
    padding-left: 12px;
    padding-bottom: 12px;
}

.form__button__reset {
    background-color: #c44141;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form__button__reset:hover {
    background-color: #a22e2e;
}

.form__button__submit {
    background-color: #1c10cc;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form__button__submit.form__button__submit:hower {
    background-color: #0d1db1;
}